
.head1 {
    width: auto;
    height: auto;
    min-height: 80px;
    background: linear-gradient(90deg, #DA3231 0%, #E1693B 52.77%, #E58440 92.13%);
}

.head1 li {
    margin-top: 32px;
    margin-left: 5px;
    margin-right: 5px;
}

.head1 a {
    color: black;
    font-size: 20px;
}

.head1 #home {
    color: #E1693B;
}

.head1 img {
    width: 180px;
    height: 115px;
}

.nav-link:hover {
    color: #E1693B;
}

#floatNav {
    position: absolute;
    /* width: 20em; */
    height: 120px;
    background: #FFF3ED;
    border-radius: 75px;
    border-style: outset;
    border-color: #DB3832;
    stroke: #DB3832;
    margin-top: 150px;

}

#section1 {
    background-image: url("Assets/bg1.png");
    background-size: cover;
    height: 91.2vh;
    background-attachment: fixed;
}

#section1 p {
    font-size: 2rem;
    text-align: center;
}

.text1{
    margin-top: 200px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 3rem;

}

.text2{
    margin-top: 40px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.text3{
    margin-top: 10px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.btn-primary {
    width: 250px;
    height: 45px;
    background: linear-gradient(90deg, #DA3331 25%, #E1683B 64.58%, #E58440 100%);
    border-radius: 20px;
    border-color: #E1693B;
    margin-top: 8em;

}

body {
    background-color: #FFF3ED;
}



.img-article {
    width: 60%;
    margin-top: 50px;
    
}

#section2 h1 {
    margin-top: 10px;
}

#section2 p {
    text-align: justify;
    margin-top: 30px;
}

#section3 h1 {
    margin-top: 10px;
}

#section3 p {
    text-align: justify;
    margin-top: 30px;
}

.img-article2 {
    width: 100%;
    height: 80%;
    margin-top: 50px;
}

.footer {
    width: auto;
    height: 60px;
    background: linear-gradient(90deg, #DA3231 0%, #E1693B 52.77%, #E58440 92.13%);
    margin-top: 70px;
}

@media (max-width: 900px){
    #floatNav{
        display: none;
    }

    .text1{
        margin-top: 30px;
    }

    .btn-primary{
        margin-top: 3em;
    }
    /* nanti bikin class baru buat side bar */
}

@media (min-width: 900px){
    .sidebar{
        display: none;
    }
}

.sidebar {
    width: auto;
    height: auto;
    
}

html, body {
    overflow-x: hidden
  }

.hamburger {
    height: auto;
    position:absolute;
    left: 0;
    width: 320px;
    margin-top: 70px;
    transform: translateX(-320px);
    transition: transform 260ms ease-in-out;
    background: linear-gradient(90deg, #DA3231 0%, #E1693B 52.77%, #E58440 92.13%);
    border-left: 1px solid #eee;
}

 .sidebar ul {
    margin:0;
    padding:0;
    border-top: 1px solid #eee;
  }

.sidebar ul>li {
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    transition: .25s
  }
.sidebar ul>li span {
    display: block;
    font-size: 14px;
    color: #353535;
  }
.sidebar ul>li a {
    color: #353535;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
  }
.sidebar ul>li:hover {
    background-color: #dddddd;
  }
.sidebar li#nav-signup {
    list-style: none;
    background-color: #00B2D3;
  }
.sidebar ul>li#nav-signup span {
    color: #00B2D3;
  }
.sidebar ul>li#nav-signup a {
    color: #ffffff;
  }
.sidebar ul>li#nav-signup:hover {
    background-color: #006375;
  }
  input[type="checkbox"]:checked ~ nav {
    transform: translateX(0);
    z-index: 40;
  }
  input[type=checkbox] {
    box-sizing: border-box;
    display: none;
    transition: all 0.25s;
  }
  .menuIconToggle {
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 40;
    height: 100%;
    width: 100%;
    top: 35px;
    left: 30px;
    height: 22px;
    width: 22px;
    transition: all 0.3s;
  }
  .hamb-line {
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #444;
    transition: all 0.25s;
  }
  .hor {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
  }
  .dia.part-1 {
    position: relative;
    box-sizing: border-box;
    float: left;
    transition: all .25s;
  }
  .dia.part-2 {
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
    transition: all .25s;
  }
  input[type=checkbox]:checked ~ .menuIconToggle > .hor {
    box-sizing: border-box;
    opacity: 0;
    transition: all .25s;
  }
  input[type=checkbox]:checked ~ .menuIconToggle > .dia.part-1 {
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
    transition: all .25s;
  }
  input[type=checkbox]:checked ~ .menuIconToggle > .dia.part-2 {
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
    transition: all .25s;
  }
  

