.head1 {
    width: auto;
    height: 80px;
    background: linear-gradient(90deg, #DA3231 0%, #E1693B 52.77%, #E58440 92.13%);
}

.head1 li {
    margin-top: 32px;
    margin-left: 5px;
    margin-right: 5px;
}

.head1 a {
    color: black;
    font-size: 20px;
}

.head1 #contact {
    color: #E1693B;
}

.head1 img {
    width: 180px;
    height: 115px;
}

.nav-link:hover {
    color: #E1693B;
}

#floatNav {
    position: absolute;
    /* width: 20em; */
    height: 120px;
    background: #FFF3ED;
    border-radius: 75px;
    border-style: outset;
    border-color: #DB3832;
    stroke: #DB3832;
    margin-top: 150px;

}
#section1 {
    background-image: url("/Assets/bgAbout2.png");
    background-size: cover;
    /* height: 750px; */
    background-attachment: fixed;
}

#section1 h1 {
    color: white;
    font-size: 50px;
    margin-top: 100px;
}

#section1 .card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    /* width: 700px;
    height: 500px; */
}



#section1 li {
    margin: 20px;
    text-align: justify;
}

#section1 .title1 {
    margin-bottom: 50px;
}

.divider {								
    display: table; 
    font-size: 24px; 
    text-align: center; 
    width: 75%; 						
    margin: 40px auto;					
}

.divider span { display: table-cell; position: relative; }

.divider span:first-child, .divider span:last-child {
    width: 50%;
    top: 20px;							
    -moz-background-size: 100% 2px; 	
    background-size: 100% 2px; 			
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
}
.divider span:first-child {				
    
    background-image: -webkit-linear-gradient(180deg, transparent, #000);
    background-image: -moz-linear-gradient(180deg, transparent, #000);
    background-image: -o-linear-gradient(180deg, transparent, #000);
    background-image: linear-gradient(90deg, transparent, #000);
}
.divider span:nth-child(2) {
    color: #000; padding: 0px 5px; width: auto; white-space: nowrap;
}
.divider span:last-child {				
    background-image: -webkit-linear-gradient(180deg, #000, transparent);
    background-image: -moz-linear-gradient(180deg, #000, transparent);
    background-image: -o-linear-gradient(180deg, #000, transparent);
    background-image: linear-gradient(90deg, #000, transparent);
}

.btn-primary {
    /* width: 350px; */
    height: 45px;
    background: #61ce70;
    border-radius: 20px;
    border-width: 2px;
    border-color: #61ce70;

}

#section2 a {
    margin-left: 5px;
    color: white;
}

.img1 {
    width: 30px;
    height:30px;
}

.footer {
    width: auto;
    height: 60px;
    background: linear-gradient(90deg, #DA3231 0%, #E1693B 52.77%, #E58440 92.13%);
    margin-top: 70px;
}

@media (max-width: 900px){
    #floatNav{
        display: none;
    }
    #section1 h1 {
        margin-top: 30px;
    }
    #section1 li {
        font-size: 0.75rem;
        margin-top: 20;
    }
    /* nanti bikin class baru buat side bar */
}

@media (min-width: 900px){
    .sidebar{
        display: none;
    }
}

.sidebar {
    width: auto;
    height: auto;
    
}

html, body {
    overflow-x: hidden
  }

.hamburger {
    height: auto;
    position:absolute;
    left: 0;
    width: 320px;
    margin-top: 70px;
    transform: translateX(-320px);
    transition: transform 260ms ease-in-out;
    background: linear-gradient(90deg, #DA3231 0%, #E1693B 52.77%, #E58440 92.13%);
    border-left: 1px solid #eee;
}

 .sidebar ul {
    margin:0;
    padding:0;
    border-top: 1px solid #eee;
  }

.sidebar ul>li {
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    transition: .25s
  }
.sidebar ul>li span {
    display: block;
    font-size: 14px;
    color: #353535;
  }
.sidebar ul>li a {
    color: #353535;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
  }
.sidebar ul>li:hover {
    background-color: #dddddd;
  }
.sidebar li#nav-signup {
    list-style: none;
    background-color: #00B2D3;
  }
.sidebar ul>li#nav-signup span {
    color: #00B2D3;
  }
.sidebar ul>li#nav-signup a {
    color: #ffffff;
  }
.sidebar ul>li#nav-signup:hover {
    background-color: #006375;
  }
  input[type="checkbox"]:checked ~ nav {
    transform: translateX(0);
    z-index: 40;
  }
  input[type=checkbox] {
    box-sizing: border-box;
    display: none;
    transition: all 0.25s;
  }
  .menuIconToggle {
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 40;
    height: 100%;
    width: 100%;
    top: 35px;
    left: 30px;
    height: 22px;
    width: 22px;
    transition: all 0.3s;
  }
  .hamb-line {
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #444;
    transition: all 0.25s;
  }
  .hor {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
  }
  .dia.part-1 {
    position: relative;
    box-sizing: border-box;
    float: left;
    transition: all .25s;
  }
  .dia.part-2 {
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
    transition: all .25s;
  }
  input[type=checkbox]:checked ~ .menuIconToggle > .hor {
    box-sizing: border-box;
    opacity: 0;
    transition: all .25s;
  }
  input[type=checkbox]:checked ~ .menuIconToggle > .dia.part-1 {
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
    transition: all .25s;
  }
  input[type=checkbox]:checked ~ .menuIconToggle > .dia.part-2 {
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
    transition: all .25s;
  }