.head1 {
    width: auto;
    height: 80px;
    background: linear-gradient(90deg, #DA3231 0%, #E1693B 52.77%, #E58440 92.13%);
}

.head1 li {
    margin-top: 32px;
    margin-left: 5px;
    margin-right: 5px;
}

.head1 a {
    color: black;
    font-size: 20px;
}

.head1 #product {
    color: #E1693B;
}

.head1 img {
    width: 180px;
    height: 115px;
}

.nav-link:hover {
    color: #E1693B;
}

#floatNav {
    position: absolute;
    /* width: 20em; */
    height: 120px;
    background: #FFF3ED;
    border-radius: 75px;
    border-style: outset;
    border-color: #DB3832;
    stroke: #DB3832;
    margin-top: 150px;

}

#section1 {
    background-image: url('../Assets/bgAbout2.png');
    background-size: cover;
    /* height: 750px; */
    background-attachment: fixed;
    min-height: 400px;
}

#section1 h1 {
    color: white;
    font-size: 50px;
    margin-top: 100px;
}

.card-big-shadow {
    max-width: 520px;
    position: relative;
}

.coloured-cards .card {
    margin-top: 30px;
}

.card[data-radius="none"] {
    border-radius: 0px;
}


.card {
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 20px;
}

.card-text {
    color: white;
}



a:hover, a:focus {
    text-decoration: none;
}

/*======== COLORS ===========*/
.card[data-color="blue"] {
    background: #b8d8d8;
}
.card[data-color="blue"] .description {
    color: #506568;
}

.card[data-color="green"] {
    background: #d5e5a3;
}
.card[data-color="green"] .description {
    color: #60773d;
}
.card[data-color="green"] .category {
    color: #92ac56;
}

.card[data-color="yellow"] {
    background: #ffe28c;
}
.card[data-color="yellow"] .description {
    color: #b25825;
}
.card[data-color="yellow"] .category {
    color: #d88715;
}

.divider {								
    display: table; 
    font-size: 24px; 
    text-align: center; 
    width: 75%; 						
    margin: 40px auto;					
}

.divider span { display: table-cell; position: relative; }

.divider span:first-child, .divider span:last-child {
    width: 50%;
    top: 20px;							
    -moz-background-size: 100% 2px; 	
    background-size: 100% 2px; 			
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
}
.divider span:first-child {				
    
    background-image: -webkit-linear-gradient(180deg, transparent, #000);
    background-image: -moz-linear-gradient(180deg, transparent, #000);
    background-image: -o-linear-gradient(180deg, transparent, #000);
    background-image: linear-gradient(90deg, transparent, #000);
}
.divider span:nth-child(2) {
    color: #000; padding: 0px 5px; width: auto; white-space: nowrap;
}
.divider span:last-child {				
    background-image: -webkit-linear-gradient(180deg, #000, transparent);
    background-image: -moz-linear-gradient(180deg, #000, transparent);
    background-image: -o-linear-gradient(180deg, #000, transparent);
    background-image: linear-gradient(90deg, #000, transparent);
}

#section2 .card {
    text-align: center;
    border-radius: 10em 10em 0 0;
    box-shadow: 0 0 0 2px #d7a449;
    border: 0;
}

#section2 .card img {
    border-radius: 10em 10em 0 0;
    height: 300px;
}

#section2 .card .btn{
    background: linear-gradient(90deg, #DA3231 0%, #E1693B 52.77%, #E58440 92.13%);
    border-color: #DA3231;
    padding: .75em;
    border-radius: 0;
}

#section2 .card .btn:hover {
    background: #DA3231;
    border-color: #DA3231;
}

#section2 {
  background-color: #FFF3ED;
}



.footer {
    width: auto;
    height: 60px;
    background: linear-gradient(90deg, #DA3231 0%, #E1693B 52.77%, #E58440 92.13%);
    margin-top: 70px;
}

@media (max-width: 900px){
    #floatNav{
        display: none;
    }
    #section1 h1{
        margin-top: 30px;
    }
    /* nanti bikin class baru buat side bar */
}

@media (min-width: 900px){
    .sidebar{
        display: none;
    }
}

.sidebar {
    width: auto;
    height: auto;
    
}

html, body {
    overflow-x: hidden
  }

.hamburger {
    height: auto;
    position:absolute;
    left: 0;
    width: 320px;
    margin-top: 70px;
    transform: translateX(-320px);
    transition: transform 260ms ease-in-out;
    background: linear-gradient(90deg, #DA3231 0%, #E1693B 52.77%, #E58440 92.13%);
    border-left: 1px solid #eee;
}

 .sidebar ul {
    margin:0;
    padding:0;
    border-top: 1px solid #eee;
  }

.sidebar ul>li {
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    transition: .25s
  }
.sidebar ul>li span {
    display: block;
    font-size: 14px;
    color: #353535;
  }
.sidebar ul>li a {
    color: #353535;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
  }
.sidebar ul>li:hover {
    background-color: #dddddd;
  }
.sidebar li#nav-signup {
    list-style: none;
    background-color: #00B2D3;
  }
.sidebar ul>li#nav-signup span {
    color: #00B2D3;
  }
.sidebar ul>li#nav-signup a {
    color: #ffffff;
  }
.sidebar ul>li#nav-signup:hover {
    background-color: #006375;
  }
  input[type="checkbox"]:checked ~ nav {
    transform: translateX(0);
    z-index: 40;
  }
  input[type=checkbox] {
    box-sizing: border-box;
    display: none;
    transition: all 0.25s;
  }
  .menuIconToggle {
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 40;
    height: 100%;
    width: 100%;
    top: 35px;
    left: 30px;
    height: 22px;
    width: 22px;
    transition: all 0.3s;
  }
  .hamb-line {
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #444;
    transition: all 0.25s;
  }
  .hor {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
  }
  .dia.part-1 {
    position: relative;
    box-sizing: border-box;
    float: left;
    transition: all .25s;
  }
  .dia.part-2 {
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
    transition: all .25s;
  }
  input[type=checkbox]:checked ~ .menuIconToggle > .hor {
    box-sizing: border-box;
    opacity: 0;
    transition: all .25s;
  }
  input[type=checkbox]:checked ~ .menuIconToggle > .dia.part-1 {
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
    transition: all .25s;
  }
  input[type=checkbox]:checked ~ .menuIconToggle > .dia.part-2 {
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
    transition: all .25s;
  }



  .about-section{
    position:relative;
    padding:120px 0px;
  }
  
  .about-section .content-column{
    position:relative;
    margin-bottom:40px;
  }
  
  .about-section .content-column .inner-column{
    position:relative;
    padding-top:50px;
    padding-right:100px;
  }
  
  .about-section .content-column .text{
    position:relative;
    color:#777777;
    font-size:15px;
    line-height:2em;
    margin-bottom:40px;
  }
  
  .about-section .content-column .email{
    position:relative;
    color:#252525;
    font-weight:700;
    margin-bottom:50px;
  }
  
  .about-section .image-column{
    position:relative;
    margin-bottom:50px;
  }
  
  .about-section .image-column .inner-column{
    position:relative;
    padding:40px 40px 0px 0px;
    margin-left:50px;
  }
  
  .about-section .image-column .inner-column:after{
    position:absolute;
    content:'';
    right:0px;
    top:0px;
    left:40px;
    bottom:100px;
    z-index:-1;
    border:2px solid #d7a449;
  }
  
  .about-section .image-column .inner-column .image{
    position:relative;
  }
  
  .about-section .image-column .inner-column .image:before{
    position:absolute;
    content:'';
    left:-50px;
    bottom:-50px;
    width:299px;
    height:299px;
    background:url(img/pattern-2.png) no-repeat;
  }
  
  .about-section .image-column .inner-column .image img{
    position:relative;
    width:100%;
    display:block;
  }
  
  .about-section .image-column .inner-column .image .overlay-box{
    position:absolute;
    left:40px;
    bottom:48px;
  }
  
  .about-section .image-column .inner-column .image .overlay-box .year-box{
    position:relative;
    color:#252525;
    font-size:24px;
    font-weight:700;
    line-height:1.4em;
    padding-left:125px;
  }
  
  .about-section .image-column .inner-column .image .overlay-box .year-box .number{
    position:absolute;
    left:0px;
    top:0px;
    width:110px;
    height:110px;
    color:#d7a449;
    font-size:68px;
    font-weight:700;
    line-height:105px;
    text-align:center;
    background-color:#ffffff;
    border:1px solid #000000;
  }
  .about-section .btn-style-three:before {
      position: absolute;
      content: '';
      left: 10px;
      top: 10px;
      z-index: -1;
      right: -10px;
      bottom: -10px;
      background: url(https://i.ibb.co/DKn55Qz/pattern-1.jpg) repeat;
  }
  .about-section .btn-style-three:hover {
      color: #ffffff;
      background: #d7a449;
  }
  .about-section .btn-style-three {
      position: relative;
      line-height: 24px;
      color: #252525;
      font-size: 15px;
      font-weight: 700;
      background: none;
      display: inline-block;
      padding: 11px 40px;
      background-color: #ffffff;
      text-transform: capitalize;
      border: 2px solid #d7a449;
      font-family: 'Arimo', sans-serif;
  }
  .sec-title2{
    color:#fff;
  }
  .sec-title {
      position: relative;
      padding-bottom: 40px;
  }
  .sec-title .title {
      position: relative;
      color: #d7a449;
      font-size: 18px;
      font-weight: 700;
      padding-right: 50px;
      margin-bottom: 15px;
      display: inline-block;
      text-transform: capitalize;
  }
  .sec-title .title:before {
      position: absolute;
      content: '';
      right: 0px;
      bottom: 7px;
      width: 40px;
      height: 1px;
      background-color: #bbbbbb;
  }
  
  
  